@font-face{
  font-family: "IowanOldSt OSF BT Roman";
  src: url("/fonts/IowanOldSt-OSF-BT-Roman/1e7b25c83a23600d1ab17ef5d3af3402.eot");
  src: url("/fonts/IowanOldSt-OSF-BT-Roman/1e7b25c83a23600d1ab17ef5d3af3402.eot?#iefix")format("embedded-opentype"),
      url("/fonts/IowanOldSt-OSF-BT-Roman/1e7b25c83a23600d1ab17ef5d3af3402.woff")format("woff"),
      url("/fonts/IowanOldSt-OSF-BT-Roman/1e7b25c83a23600d1ab17ef5d3af3402.woff2")format("woff2"),
      url("/fonts/IowanOldSt-OSF-BT-Roman/1e7b25c83a23600d1ab17ef5d3af3402.ttf")format("truetype"),
      url("/fonts/IowanOldSt-OSF-BT-Roman/1e7b25c83a23600d1ab17ef5d3af3402.svg#IowanOldSt OSF BT Roman")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "IowanOldSt Blk BT Black";
  src: url("/fonts/IowanOldSt-Blk-BT-Black/caacd291335e6013fb4f648efee67da7.eot");
  src: url("/fonts/IowanOldSt-Blk-BT-Black/caacd291335e6013fb4f648efee67da7.eot?#iefix")format("embedded-opentype"),
      url("/fonts/IowanOldSt-Blk-BT-Black/caacd291335e6013fb4f648efee67da7.woff")format("woff"),
      url("/fonts/IowanOldSt-Blk-BT-Black/caacd291335e6013fb4f648efee67da7.woff2")format("woff2"),
      url("/fonts/IowanOldSt-Blk-BT-Black/caacd291335e6013fb4f648efee67da7.ttf")format("truetype"),
      url("/fonts/IowanOldSt-Blk-BT-Black/caacd291335e6013fb4f648efee67da7.svg#IowanOldSt Blk BT Black")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "Iowan Old Style W01 Bold";
  src: url("/fonts/Iowan-Old-Style-W01-Bold/6bdbc98de74280c5c53856ee86f193b9.eot");
  src: url("/fonts/Iowan-Old-Style-W01-Bold/6bdbc98de74280c5c53856ee86f193b9.eot?#iefix")format("embedded-opentype"),
      url("/fonts/Iowan-Old-Style-W01-Bold/6bdbc98de74280c5c53856ee86f193b9.woff")format("woff"),
      url("/fonts/Iowan-Old-Style-W01-Bold/6bdbc98de74280c5c53856ee86f193b9.woff2")format("woff2"),
      url("/fonts/Iowan-Old-Style-W01-Bold/6bdbc98de74280c5c53856ee86f193b9.ttf")format("truetype"),
      url("/fonts/Iowan-Old-Style-W01-Bold/6bdbc98de74280c5c53856ee86f193b9.svg#Iowan Old Style W01 Bold")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "Iowan Old Style W01 Italic";
  src: url("/fonts/Iowan-Old-Style-W01-Italic/376b17e388b936ed3e979f8ce56ad913.eot");
  src: url("/fonts/Iowan-Old-Style-W01-Italic/376b17e388b936ed3e979f8ce56ad913.eot?#iefix")format("embedded-opentype"),
      url("/fonts/Iowan-Old-Style-W01-Italic/376b17e388b936ed3e979f8ce56ad913.woff")format("woff"),
      url("/fonts/Iowan-Old-Style-W01-Italic/376b17e388b936ed3e979f8ce56ad913.woff2")format("woff2"),
      url("/fonts/Iowan-Old-Style-W01-Italic/376b17e388b936ed3e979f8ce56ad913.ttf")format("truetype"),
      url("/fonts/Iowan-Old-Style-W01-Italic/376b17e388b936ed3e979f8ce56ad913.svg#Iowan Old Style W01 Bold")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

:root {
  --bg-color: #e8e3e1;
  --bg-color-dark: #000;

  --text-color: #000;
  --text-color-dark: #e8e3e1;

  --light-text-color: #999;
  --light-text-color-dark: #777;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg-color);
  color: #261913;
  padding-bottom: 10em;
  font-size: 14pt;
}

a {
  text-decoration: underline;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

a.active {
  text-decoration: underline;
  text-decoration-thickness: .18em;
  text-underline-offset: 3.5pt;
}

.posts a {
  text-decoration: none;
}
small {
  font-size: 0.7em;
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    background-color: var(--bg-color-dark);
  }
}

.home, .list, .post, .story {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0 auto;
  max-width: 430pt;
}

@media (prefers-color-scheme: dark) {
  .story {
    text-shadow: none;
  }
}

.home .dateline {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 300;
  color: var(--light-text-color);
  margin: 0 0 1em 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .home .dateline {
    color: var(--light-text-color-dark);
  }
}

.home article {
  margin: 2em 0 10em 0;
  font-size: 0.8em;
}

.home .headline {
  margin: 0;
  padding: 0;
}

.stories {
  font-family: "IowanOldSt OSF BT Roman";
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  line-height: 1.3;
}

.story .text {
  margin: 0 18pt;
  font-family: "IowanOldSt OSF BT Roman";
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  line-height: 1.3;
}

.stories h1, 
.story h1 
{
  font-family: "Iowan Old Style W01 Bold";
  text-transform: uppercase;

  font-size: 1.8em;
  font-weight: 500;
  font-style: normal;
  text-align: center;

  margin: 1.8em 0;
}

.story p {
  margin: 1.3em 0;
}

.stories > h1 {
  margin-bottom: 1.3em;
}

.stories * {
  display: block;
}

.stories i {
  font-family: "Iowan Old Style W01 Italic";
  font-size: 0.8em;
  font-style: italic;
  margin: 0.5em 0 0 0;
}

.stories hr.ornament {
  border: none;
  height: 1pt;
  background-color: rgba(157, 117, 92, 0.8);
  margin: 2em 4em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}