{{ define "main" }}
  {{ $seriesTitle := .Title }}
  <div class="list stories">
      <section class="series-title">
        <h1>{{ $seriesTitle }}</h1>
        {{ with .Params.Summary }}
          <em>{{ . }}</em>
        {{ end }}
      </section>
      {{ .Content }}
      <hr class="ornament">
      <section>
        {{ range .Pages.Reverse}}
          <p>
            <a class="title" href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
            {{ with .Params.Summary }}
            <em>{{ . }}</em>
            {{ end }}
          </p>
        {{ end }} 
      </section>
  </div>
{{ end }}